.checkout__item{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

.item-img{
    object-fit: contain;
    height: 180px;
    width: 180px;
}
.checkout__itemdetails{
    padding-left: 20px;
}
.remove_from_cart{
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    margin-top: 10px;
    width: 100px;
   color: #111;
}
.product_title{
    font-size: 17px;
    font-weight: 600;
}