.header{
    background-color: #131921;
    display: flex;
    z-index: 2;
    align-items: center;
    position: sticky;
    top: 0;
}
.header__logo{
    width: 100px;
    margin: 0px 40px;
    margin-top: 18px;
    object-fit: contain;
    
}
.header__search{
    margin-left: 40px ;
    margin-right: 50px ;
    display: flex;
    flex: 1;
    border: none;
}

.header__searchIcon{
    background-color: #cd9042;
    height: 22px;
    padding: 5px !important;
    color: black;
}
.header__navlinks{
    display: flex;
    justify-content: space-evenly;
}

.header__searchInput{
    height: 14px;
    border: none;
    padding: 10px ;
    width: 100%;
}
.header__link{
    
    color: white;
    text-decoration: underline;
    text-decoration-color: #131921;
    font-weight: 100;
    
}
.header__options{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}
.first_line{
    font-size: 11px;
    font-weight: 500;
}
.second_line{
    font-size: 14px;
    font-weight: 600;
}
.cart{
    display: flex;
    align-items: center;
}
.items-count{
    margin-left: 5px;
    margin-right: 5px;
}